html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-bg-dark: #f2f2fc;
  --color-bg: #fafafa;
  --color-gray: #d1d1d1;
  --color-text: #1c1c1c;
  --color-accent: #fff06b;
  --color-white: #f9f9f9;
  --color-btn: #6568ea;
  --side-padding: 0 64px;
  --color-800: #3c3c3c;
  --color-700: #5b5b5b;
  --color-600: #6e6e6e;
  --color-500: #979797;
  --color-400: #b7b7b7;
  --color-300: #dadada;
  --color-200: #eaeaea;
  --color-100: #f3f3f3;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: var(--color-100);
  padding: var(--side-padding);
}
.link-home {
  font-size: 30px;
  font-weight: bold;
}
.nav-right {
  display: flex;
  align-items: center;
}
.darkModeBtn {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 22px;
  margin-right: 12px;
  position: relative;
  top: 4px;
}
.darkModeBtn:hover {
  color: var(--color-btn);
  cursor: pointer;
}
.default-btn {
  padding: 12px 18px;
  background-color: var(--color-btn);
  outline: none;
  border: 0;
  color: var(--color-white);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
}
.default-btn:hover {
  background-color: #5558db;
  cursor: pointer;
}
.user-name {
  margin-right: 12px;
}
.post-btn {
  position: absolute;
  right: 0;
  top: -10px;
  transform: translateY(-100%);
}
.container {
  display: flex;
  justify-content: center;
  padding: var(--side-padding);
  padding-top: 70px;
  position: relative;
}
.board-main {
  position: relative;
  width: 100%;
}
.posts-wrap {
  width: 100%;
  min-height: 520px;
}
.main-post-card {
  display: flex;
  background-color: var(--color-100);
  padding: 16px 28px 22px 28px;
  border-radius: 8px;
  justify-content: space-between;
  cursor: pointer;
}
.main-post-card:hover {
  background-color: var(--color-bg-dark);
}
.main-post-card + .main-post-card {
  margin-top: 10px;
}
.main-post-inner {
  width: 100%;
}
.main-user-name {
  display: inline-block;
  margin: 4px 0 12px 0;
  color: var(--color-600);
}
.main-post-title {
  font-size: 20px;
  font-weight: bold;
}
.main-post-content {
  margin-top: 14px;
  color: var(--color-800);
}
.main-post-card .btns-wrap {
  display: flex;
  gap: 8px;
}
.round-btn {
  border-radius: 50%;
  border: 0;
  width: 36px;
  height: 36px;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}

.round-btn.btn-edit {
  font-size: 20px;
  position: relative;
}
.edit-btn-icon {
  position: relative;
  top: -1px;
  right: -1px;
}
.edit-btn-icon:hover,
.delete-btn-icon:hover {
  color: var(--color-btn);
}
.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
}
.pagenation .page-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  color: var(--color-500);
}
.pagenation .page-btn.active {
  color: var(--color-btn);
  font-weight: bold;
}
.pagenation .move-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 22px;
  position: relative;
  top: 2px;
  color: var(--color-300);
}
/* login */
.menu-title {
  font-size: 24px;
  font-weight: bold;
}
.login-title {
  margin-bottom: 48px;
}
.login-container {
  padding-top: 150px;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .input-wrap {
  display: flex;
  flex-direction: column;
}
.login-btn {
  width: 100%;
}
.login-input {
  height: 34px;
  width: 300px;
  outline: none;
  text-indent: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-500);
}
.login-input + .login-input {
  margin-top: 10px;
}
.login-input:last-child {
  margin-bottom: 32px;
}
/* post-detail */
.detail-container {
  padding-bottom: 24px;
}
.detail-container .main-user-name {
  margin-top: 22px;
  font-weight: bold;
  color: var(--color-800);
}
.detail-container .main-post-content {
  margin: 32px 0 64px 0;
  color: var(--color-text);
}
.post-header {
  border-bottom: 1px solid var(--color-300);
  position: relative;
}
.post-header .btns-wrap {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 12px;
  gap: 8px;
}
.post-detail {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 32px 38px;
  background-color: var(--color-100);
  border-radius: 8px;
}
.detail-inner {
  width: 100%;
  position: relative;
}
.comment {
  width: 100%;
  font-size: 14px;
}
.comment-text {
  margin-right: 6px;
  font-size: 20px;
  position: relative;
  top: 6px;
  color: var(--color-600);
}
.comment-line {
  margin-bottom: 16px;
}
.comment-form {
  margin-bottom: 16px;
  background-color: #fff;
  height: 100px;
  box-sizing: border-box;
  padding: 20px 22px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.comment-form .user-name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 6px;
  margin-left: 1px;
}
.comment-input {
  outline: none;
  height: 24px;
  border: none;
  font-size: 16px;
}
.comment-input::placeholder {
  color: var(--color-400);
}
.comment-submit {
  position: absolute;
  right: 22px;
  bottom: 14px;
  border: 0;
  cursor: pointer;
}
/* modal */
.modal-dimmed {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  width: calc(100% - 200px);
  margin: 0 auto;
  height: 350px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
}
.modal-content .close-btn {
  position: absolute;
  right: 18px;
  top: 16px;
  border: 0;
  background-color: transparent;
  font-size: 30px;
  display: flex;
  cursor: pointer;
}

.modal-inner {
  height: inherit;
  padding: 28px 32px;
  box-sizing: border-box;
}
.modal-inner .edit-post {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.modal-inner .edit-post .edit-header > span {
  display: block;
}
.input-text {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--color-400);
  text-indent: 10px;
  margin-top: 12px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}
.input-content {
  border-radius: 8px;
  height: 170px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid var(--color-400);
  margin-top: 10px;
  outline: none;
  resize: none;
}
.edit-header .user-name {
  font-weight: bold;
}
/* add posting */
.posting-form {
  width: 100%;
}
.main-title {
  position: absolute;
  top: -10px;
  transform: translateY(-100%);
}
.main-title .total-post {
  font-size: 15px;
  margin-left: 6px;
  color: var(--color-700);
}
.input-text.add-post {
  margin: 0;
}
.post-detail .input-content {
  height: 450px;
}
.modal-content.alert-content {
  width: 300px;
  height: 190px;
}
.alert-content .modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.alert-text {
  margin-bottom: 24px;
}
